body,
h2,
p {
    padding: 0;
    margin: 0;
    background-color: #E7DFD8;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1150px;
    gap: 20px;
}


.Mikki-Maus-images Koko-images Vaiana-images {
    border-radius: 12px;
    width: 518px;
    height: 500px;
}



.title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #101010
}

.Mikki-Maus-Text {
    font-weight: 400;
    font-size: 19px;
    color: black;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;

}

.Mikki-Maus {
    padding: 100px 0px;
}

.container-Mikki-Maus-container  {
    display: flex;
    gap: 107px;
    width: 400px;
    height: 400px;

}


.Mikki-Maus-Text span {
    border-radius: 100px;
    width: 74px;
    height: 74px;
    background-color: #b99fea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 500px; 
}
.Koko-images {
   margin-left: 300px;
}
.Koko-button {
    border-radius: 100px;
    width: 74px;
    height: 74px;
    background: #f99164;
}

.Koko-Text span {
    border-radius: 100px;
    width: 74px;
    height: 74px;
    background-color: #EBA789;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    margin-right: 100px;
}

.Koko-Text {
    font-weight: 100;
    font-size: 19px;
    color: black;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   margin-left: 20px;
    
}
.Koko {
    padding: 100px 0px;

}

.container-Koko-container {
    display: flex;
    gap: 107px;
    width: 400px;
    height: 400px;
}



.Vaiana-Text span {
    border-radius: 100px;
    width: 74px;
    height: 74px;
    background-color: #96dbc6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    margin-right: 300px;
}



.Vaiana-Text {
    font-weight: 400;
    font-size: 19px;
    color: black;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
align-items: center;
justify-content: center;

}



.Vaiana {
    padding: 100px 0px;
}

.container-Vaiana-container {
    display: flex;
    gap: 107px;
    width: 400px;
    height: 400px;
}